a{
    -webkit-transition: all 0.2s ease;  
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;  
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

body {
    background-color: #111;
    color: white;
    background-image: url('../img/FONDO-DE-WEBDESENF.jpeg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.container{
    max-width: 620px;
    border-left: 3px #f2bb6b solid;
    border-right: 3px solid #f2bb6b;
}

.shadow{
    position: relative;
}

.shadow::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}


.header-section {
    position: relative;
}

.header-section .container {
    background-image: url('../img/slide1.jpeg');
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    padding-bottom: 300px;
}

.header-section h1 {
    font-size: 3rem;
    color: #FFD700;
}

.token-info .container, .gallery-section .container {
    background-color: #222;
    background-image: url('../img/bg-lineas.jpg');
}

.token-info .container::before, .gallery-section .container::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    background-image: url(../img/trama-de-lineas-slide-3.png);
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
}

.token-info .container {
    background-color: #333;
    padding: 50px;
    padding-bottom: 114px;
}

.token-info h2 {
    text-align: center;
    color: #FFD700;
}

.price-section {
    background-color: #222;
    padding: 30px 0;
}

.buy-section {
    /* padding: 50px 0; */
}

.buy-section .container {
    background-color: #444; /* Fondo dentro del contenedor */
    padding: 130px 90px;
    background-image: url(../img/slide3.jpg);
    background-size: 100%;
    background-position: top center;
}

.buy-section img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.footer {
    text-align: center;
}

.footer img {
    max-width: 40px;
    margin: 0 10px;
}

.navbar {
    background-color: #222;
    padding-bottom: 20px;
}

.navbar .container {
    border: 0;
}

.navbar a {
    color: #FFDEA7;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.navbar a:hover {
    color: #FFF;
}

.navbar a.active{
    color: #FFF;
    font-weight: bold;
}

.gallery-section {
    /* padding: 50px 0; */
}

.gallery-section .container {
    background-color: #333; /* Fondo dentro del contenedor */
    padding: 60px 30px;
    padding-bottom: 120px;
}

.modal-content{
    background-color: #333;
}

.tns-outer button{
    display: none;
}

.my-slider img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.tns-item {
    display: flex;
    justify-content: center;
}

.gallery-section {
}

.tns-nav {
    text-align: center; /* Centra los indicadores */
    margin-top: 15px; /* Espacio entre los indicadores y el carrusel */
}

.tns-nav button {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%; 
    border: none;
    margin: 0 5px; 
}

.tns-nav button.tns-nav-active {
    background-color: #333; 
}

.tns-nav button:hover {
    cursor: pointer;
    background-color: #835098;
}

footer .container{
    background-image: url('../img/slide4.jpg');
    background-size: cover;
    padding-top: 1rem !important;
    padding-bottom: 5rem !important;
}

.sep-menu {
    width: 100%;
    border-top: 2px solid #e8e5d6;
    position: absolute;
    bottom: 15px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad */
    z-index: 9999; /* Asegura que estÃ© por encima de todo el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Comienza completamente visible */
    transition: opacity 0.5s ease; /* DuraciÃ³n de la transiciÃ³n */
}

#loading-screen.fade-out {
    opacity: 0; /* Desaparece con el fade out */
    pointer-events: none; /* Asegura que no interfiera con el contenido una vez que estÃ¡ invisible */
}
